@inject IJSRuntime JS               // 자바스크립트 관련
@using static RGWeb.Shared.Models.ContentModel

@code {
    [Parameter]
    public Content? pContent { get; set; }

    [Parameter]
    public int pSelectPage { get; set; }

    [Parameter]
    public bool pVisited { get; set; } = false;

    [Parameter]
    public Action<int, int>? onUrlClickEvent { get; set; } // 부모 컴포넌트에서 변경 이벤트 캐치

    private DateTime Now = DateTime.Now;

    private async Task onContent_onclick()
    {
        if (onUrlClickEvent is not null)
        {
            //JS.InvokeVoidAsync("JS_goToIframeAir", pContent.url, "title_" + pSelectPage + "_" + pContent.num);
            onUrlClickEvent?.Invoke(pSelectPage, pContent.num);
        }
    }
}

<div class="py-1">
    <span class="RGTextColor" style="">
        <span class="colorize RGAirTitleFont" style="max-width:115px; text-overflow:ellipsis; white-space:nowrap; overflow: hidden;">
            @(pContent.userName)
        </span>
        <span class="">
            <span class="@(pContent.userIconUrl)" style="vertical-align: middle"></span>
        </span>
        <span>:&nbsp;</span>
        <span @onclick="onContent_onclick">
            <a href="@pContent.url" target="_blank" class="RGTextColor" style="text-decoration: none;">
                @if (pVisited)
                {
                    <span class="ListContentvisitedTitle" style="vertical-align: middle">@(pContent.title)</span>
                }
                else
                {
                    <span id="@("title_" + pSelectPage + "_" + pContent.num)" style="vertical-align: middle">@(pContent.title)</span>
                }
            </a>
        </span>
        <span class="ps-1">
            @if (pContent.goodCount == "0")
            {
            }
            else if (int.Parse(pContent.goodCount) >= 5)
            {
                <i class="fa-solid fa-star ListContentBottomFont"></i>
                <span class="pe-1 ListContentGoodCountFont">@(pContent.goodCount)</span>
            }
            else
            {
                <i class="fa-solid fa-star ListContentBottomFont"></i>
                <span class="pe-1">@(pContent.goodCount)</span>
            }
            
            @if (pContent.commentCount != "0")
            {
                <span class="ListContentGoodCountFont">[@(pContent.commentCount)]</span>
            }
        </span>
    </span>
</div>
