@inject IJSRuntime JS               // 자바스크립트 관련
@using static RGWeb.Models.ContentModel

@code {
    [Parameter]
    public Content? pContent { get; set; }

    [Parameter]
    public int pSelectPage { get; set; }

    [Parameter]
    public bool pVisited { get; set; } = false;

    [Parameter]
    public Action<int, int>? onUrlClickEvent { get; set; } // 부모 컴포넌트에서 변경 이벤트 캐치

    private DateTime Now = DateTime.Now;

    private async Task onContent_onclick()
    {
        if (onUrlClickEvent is not null)
        {
            JS.InvokeVoidAsync("JS_goToIframePro", pContent.url, "title_" + pSelectPage + "_" + pContent.num);
            onUrlClickEvent?.Invoke(pSelectPage, pContent.num);
        }
        else
            JS.InvokeVoidAsync("JS_goToIframeLite", pContent.url); // 각각 이 메소드를 await할 필요 없음
    }
}

<div class="rounded border RGBorderColor p-1" @onclick="onContent_onclick">

    <div class="d-block ListContentTopFont">
        <div class="d-flex flex-row">
            <div class="" style="text-overflow:ellipsis; white-space:nowrap; overflow: hidden;">
                <span class="@(pContent.contentIconUrl)"></span>
                @if (pVisited)
                {
                    <span class="ListContentvisitedTitle">@(pContent.title)</span>
                } else
                {
                    <span id="@("title_" + pSelectPage + "_" + pContent.num)">@(pContent.title)</span>
                }
            </div>
            <div class="flex-grow-1">
                <div class="d-flex flex-row-reverse">
                    <div>
                        @if(pContent.commentCount != "0")
                        {
                            <span>[@(pContent.commentCount)]</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="d-block ListContentBottomFont">
        <div class="d-flex flex-row-reverse align-items-center">
            @if (!string.IsNullOrEmpty(pContent.contentDate))
            {
                <div class="ps-1" style="white-space:nowrap;">
                    @(pContent.contentDate)
                </div>
            } else
            {
                <div class="ps-1">
                    @((pContent.date.Hour).ToString().PadLeft(2, '0')):@((pContent.date.Minute).ToString().PadLeft(2, '0')):@((pContent.date.Second).ToString().PadLeft(2, '0'))
                </div>
                <div class="ps-1" style="white-space:nowrap;">
                    @if (((Now.Month * 100) + Now.Day) != ((pContent.date.Month * 100) + pContent.date.Day))
                    {
                        <p class="m-0">@((pContent.date.Month).ToString().PadLeft(2, '0'))-@((pContent.date.Day).ToString().PadLeft(2, '0'))</p>
                    }
                </div>
                <div class="">
                    @if (Now.Year != pContent.date.Year)
                    {
                        <p class="m-0">@((pContent.date.Year).ToString().PadLeft(2, '0'))</p>
                    }
                </div>
            }
            <div class="flex-grow-1">
                <div class="d-flex flex-row align-items-center">
                    <div class="pe-1" style="min-width: 35px; white-space:nowrap;">
                        <i class="fa-solid fa-eye"></i>&nbsp;@(pContent.viewCount)
                    </div>
                    <div class="pe-1" style="min-width: 27px; white-space:nowrap;">
                        <i class="fa-solid fa-star"></i>&nbsp;
                        @if(pContent.goodCount == "0")
                        {
                            <span>&nbsp;</span>
                        }
                        else if (int.Parse(pContent.goodCount) >= 5)
                        {
                            <span class="ListContentGoodCountFont">@(pContent.goodCount)</span>
                        }
                        else
                        {
                            <span>@(pContent.goodCount)</span>
                        }
                    </div>
                    <div class="pe-1">
                        |
                    </div>
                    <div class="" style="max-width:115px; text-overflow:ellipsis; white-space:nowrap; overflow: hidden;">
                        @(pContent.userName)&nbsp;<span class="@(pContent.userIconUrl)"></span>
                        <span>@(pContent.userIp)</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>