@page "/rg/UserPage"
@*〈공통〉*@
@implements IDisposable
@inject IJSRuntime JS               // 자바스크립트 관련
@inject ProtectedLocalStorage LS    // 로컬스토리지 관련
@inject NavigationManager NM        // 페이지 이동 관련
@* 뷰모델의 인스턴스 주입 *@
@inject RGWeb.ViewModels.IContentViewModel VM
@using static RGWeb.Models.ContentModel


@code {
    private int pageLength = 3;
    private int selectPageLength = 2;
    private List<int> selectPage = new List<int>()
    {
        0, 2
    };


    public class PageType
    {
        public int Value { get; set; }
        public string Text { get; set; }
    }
    List<PageType> PageTypeComboBoxList = new List<PageType>
    {
        new PageType() { Value = 0, Text = "국내야구" },
        new PageType() { Value = 1, Text = "만화" },
        new PageType() { Value = 2, Text = "스트리머" },
    };
    private void selectPage_0_ValueChange(ChangeEventArgs<int, PageType> args)
    {
        selectPage_ValueChange(0, args);
    }
    private void selectPage_1_ValueChange(ChangeEventArgs<int, PageType> args)
    {
        selectPage_ValueChange(1, args);
    }
    private void selectPage_ValueChange(int pSelectPage, ChangeEventArgs<int, PageType> args)
    {
        if (VM.oContentList.Count > 0)
            //for (int i = 0; i < pageLength; i++)
                VM.oContentList[pSelectPage].PropertyChanged -= OnPropertyChangedHandler;

        // 콤보박스에서 갤러리 선택
        selectPage[pSelectPage] = args.Value;

        if (VM.oContentList.Count > 0)
            //for (int i = 0; i < pageLength; i++)
                VM.oContentList[pSelectPage].PropertyChanged += async (sender, e) =>
                {
                    await InvokeAsync(() =>
                    {
                        StateHasChanged();
                    });
                };
    }

    protected override async Task OnInitializedAsync()
    {
        if (VM.oContentList.Count > 0)
        {
            for (int i = 0; i < selectPageLength; i++)
                VM.oContentList[selectPage[i]].PropertyChanged += async (sender, e) =>
                {
                    await InvokeAsync(() =>
                    {
                        StateHasChanged();
                    });
                };
        }
        

        await base.OnInitializedAsync();
    }

    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    // 메모리 누수 방지
    public void Dispose()
    {
        if (VM.oContentList.Count > 0)
            for (int i = 0; i < selectPageLength; i++)
                VM.oContentList[selectPage[i]].PropertyChanged -= OnPropertyChangedHandler;
    }

    // 페이지가 로드 될 시 (비동기)
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) // 첫번째 렌더때 실행
        {
            ;
        }
        else             // 첫번째 렌더 후에 실행
        {
            ;
        }
    }

    string iframeUrl = "ContentBlankPage";

    private void fnUrlClickEvent(string? pUrl)
    {
        iframeUrl = pUrl;
    }
}


<SfSplitter Height="100%" Width="100%" SeparatorSize="3" CssClass="rounded RGBorderColor">
    <SplitterPanes>
        <SplitterPane Size="250px" Collapsible="true" CssClass="p-1">
            <ContentTemplate>
                <div class="d-block">
                    <SfComboBox Value="@selectPage[0]" DataSource="@PageTypeComboBoxList" ShowClearButton="false" AllowFiltering="true">
                        <ComboBoxFieldSettings Value="Value" Text="Text"></ComboBoxFieldSettings>
                        <ComboBoxEvents TValue="int" TItem="PageType" ValueChange="selectPage_0_ValueChange"></ComboBoxEvents>
                    </SfComboBox>
                    <hr class="my-1 RGBorderColor" />
                </div>
                <div class="d-flex flex-column m-0">
                    @if (VM.oContentList.Count > 0 && VM.oContentList[selectPage[0]].dataSet is not null)
                    {
                        foreach (Content item in VM.oContentList[selectPage[0]].dataSet)
                        {
                            <RGWeb.Component.ContentComponent pContent="@item" onUrlClickEvent="fnUrlClickEvent"></RGWeb.Component.ContentComponent>
                        }
                    }
                </div>
            </ContentTemplate>
        </SplitterPane>
        <SplitterPane Size="250px" Collapsible="true" CssClass="p-1">
            <ContentTemplate>
                <div class="d-block">
                    <SfComboBox Value="@selectPage[1]" DataSource="@PageTypeComboBoxList" ShowClearButton="false" AllowFiltering="true">
                        <ComboBoxFieldSettings Value="Value" Text="Text"></ComboBoxFieldSettings>
                        <ComboBoxEvents TValue="int" TItem="PageType" ValueChange="selectPage_1_ValueChange"></ComboBoxEvents>
                    </SfComboBox>
                    <hr class="my-1 RGBorderColor" />
                </div>
                <div class="d-flex flex-column m-0">
                    @if (VM.oContentList.Count > 0 && VM.oContentList[selectPage[1]].dataSet is not null)
                    {
                        foreach (Content item in VM.oContentList[selectPage[1]].dataSet)
                        {
                            <RGWeb.Component.ContentComponent pContent="@item" onUrlClickEvent="fnUrlClickEvent"></RGWeb.Component.ContentComponent>
                        }
                    }
                </div>
            </ContentTemplate>
        </SplitterPane>
        <SplitterPane CssClass="p-1">
            <ContentTemplate>
                <div class="d-flex rounded w-100 h-100">
                    <iframe id="userIframe" class="w-100 h-100" sandbox="allow-forms allow-modals allow-popups allow-scripts allow-same-origin allow-pointer-lock allow-presentation allow-top-navigation allow-storage-access-by-user-activation"></iframe>
                </div>
            </ContentTemplate>
        </SplitterPane>
    </SplitterPanes>
</SfSplitter>
