@page "/rg/UserProAirPage"
@*〈공통〉*@
@implements IDisposable
@inject IJSRuntime JS               // 자바스크립트 관련
@inject ProtectedLocalStorage LS    // 로컬스토리지 관련
@inject NavigationManager NM        // 페이지 이동 관련
@* 뷰모델의 인스턴스 주입 *@
@inject RGWeb.ViewModels.IContentViewModel VM
@using static RGWeb.Shared.Models.ContentModel
@using static RGWeb.Shared.ServerInfo


@code {
    // 현재 선택한 페이지 수들
    private List<int> selectPage = new List<int>()
    {
        0
    };
    // 방문한 페이지
    private List<Dictionary<int, bool>> visitedPage = new List<Dictionary<int, bool>>();

    // 팝업창으로 열기유무 (기본값은 iOS때문에 새탭으로)
    private bool optionPopupOnoff = false;

    private void selectPage_0_ValueChange(ChangeEventArgs<int, PageType> args)
    {
        selectPage_ValueChange(0, args);
    }
    private void selectPage_ValueChange(int pSelectPage, ChangeEventArgs<int, PageType> args)
    {
        if (VM.oContentList.Count > 0)
            VM.oContentList[selectPage[pSelectPage]].PropertyChanged -= OnPropertyChangedHandler;

        // 콤보박스에서 갤러리 선택
        selectPage[pSelectPage] = args.Value;
    }

    protected override async Task OnInitializedAsync()
    {
        ServerInfo.UserConnectCount_ProAir++;

        // 페이지 클릭 시 보라색 효과용
        for (int i = 0; i < PageTypeList.Count; i++)
            visitedPage.Add(new Dictionary<int, bool>());

        if (VM.oContentList.Count > 0)
        {
            for (int i = 0; i < selectPage.Count; i++)
                VM.oContentList[selectPage[i]].PropertyChanged += async (sender, e) =>
                {
                    await InvokeAsync(() =>
                    {
                        CleanVisitedPage();
                        StateHasChanged();
                        JS.InvokeVoidAsync("JS_ListContentvisitedTitleTemp");   // 클라에서 선택했던 타이틀 임시 css 제거
                    JS.InvokeVoidAsync("JS_Colorize");                      // 채팅 작성자 랜덤 컬러 지정
                });
                };
        }

        await base.OnInitializedAsync();
    }

    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    // 메모리 누수 방지
    public void Dispose()
    {
        ServerInfo.UserConnectCount_ProAir--;
        if (VM.oContentList.Count > 0)
            for (int i = 0; i < selectPage.Count; i++)
                VM.oContentList[selectPage[i]].PropertyChanged -= OnPropertyChangedHandler;
    }

    // 페이지가 로드 될 시 (비동기)
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) // 첫번째 렌더때 실행
        {
            JS.InvokeVoidAsync("JS_initAir");

            if (string.IsNullOrEmpty(VM.userAgent))
                VM.userAgent = await JS.InvokeAsync<string>("JS_UserAgent");
        }
        else             // 첫번째 렌더 후에 실행
        {
            ;
        }
    }

    string iframeUrl = "/ContentBlankPage";

    private void fnUrlClickEvent(int pSelectPage, int pNumber)
    {
        if (!visitedPage[selectPage[pSelectPage]].ContainsKey(pNumber))
            visitedPage[selectPage[pSelectPage]].Add(pNumber, true);
    }

    private void CleanVisitedPage()
    {
        if (VM.oContentList.Count > 0)
            for (int i = 0; i < PageTypeList.Count; i++)
            {
                if (VM.oContentList[i].dataSet.Count <= 0) continue;

                int lowest = VM.oContentList[i].dataSet[VM.oContentList[i].dataSet.Count - 1].num;

                foreach (KeyValuePair<int, bool> item in visitedPage[i])
                    if (item.Key < lowest)
                        visitedPage[i].Remove(item.Key);
            }
    }
}

<SfSplitter Height="100%" Width="100%" SeparatorSize="3" CssClass="rounded RGBorderColor" Orientation="Syncfusion.Blazor.Layouts.Orientation.Vertical">
    <SplitterPanes>
        <SplitterPane Size="40px" CssClass="p-1" Collapsible="true">
            <ContentTemplate>
                <div class="d-flex justify-content-start">
                    <div class="pe-1">
                        @if (VM.userAgent == "ios")
                        {
                            <a href="@RGComLib.GetMobileWritePageUrl(selectPage[0])" target="_blank" class="RGTextColor" style="text-decoration: none;">
                                <SfButton style="width:35px" CssClass="e-secondary e-outline e-small">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </SfButton>
                            </a>
                        }
                        else if (VM.userAgent == "macintosh")
                        {
                            <a href="@RGComLib.GetWritePageUrl(selectPage[0])" target="_blank" class="RGTextColor" style="text-decoration: none;">
                                <SfButton style="width:35px" CssClass="e-secondary e-outline e-small">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </SfButton>
                            </a>
                        }
                        else
                        {
                            <SfButton style="width:35px" CssClass="e-secondary e-outline e-small"
                                      OnClick="@(e => JS.InvokeVoidAsync("JS_goToContentWrite", RGComLib.GetWritePageUrl(selectPage[0]), RGComLib.GetMobileWritePageUrl(selectPage[0]), optionPopupOnoff, false))">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </SfButton>
                        }
                    </div>
                    <div class="flex-grow-1">
                        <SfComboBox Value="@selectPage[0]" DataSource="@PageTypeList" ShowClearButton="false" AllowFiltering="true">
                            <ComboBoxFieldSettings Value="Value" Text="Text"></ComboBoxFieldSettings>
                            <ComboBoxEvents TValue="int" TItem="PageType" ValueChange="selectPage_0_ValueChange"></ComboBoxEvents>
                        </SfComboBox>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center p-1 RGTextColor">
                    <div class="p-1">
                        새 창에서 열기 (only PC)
                    </div>
                    <div>

                    </div>
                    <SfSwitch @bind-Checked="optionPopupOnoff" TChecked="bool"></SfSwitch>
                </div>
            </ContentTemplate>
        </SplitterPane>
        <SplitterPane CssClass="p-1" Collapsible="true">
            <ContentTemplate>
                <div class="d-flex flex-column m-0">
                    @if (VM.oContentList.Count > 0 && VM.oContentList[selectPage[0]].dataSet is not null && visitedPage is not null)
                    {
                        for(int i = VM.oContentList[selectPage[0]].dataSet.Count - 1; i >= 0; i--)
                        {
                            <RGWeb.Component.AirComponent pContent="@VM.oContentList[selectPage[0]].dataSet[i]" pSelectPage="0" pOptionPopupOnoff="optionPopupOnoff" pVisited="visitedPage[selectPage[0]].ContainsKey(VM.oContentList[selectPage[0]].dataSet[i].num)" onUrlClickEvent="fnUrlClickEvent"></RGWeb.Component.AirComponent>
                        }
                    }
                </div>
            </ContentTemplate>
        </SplitterPane>
    </SplitterPanes>
</SfSplitter>